<button class="btn btn-primary" data-toggle="modal" data-target="#edit-question-modal">Edit Question</button>

<div class="modal fade bd-example-modal-lg" id="edit-question-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your Question</h5>
        <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <%= form_with model: @question do |f| %>
        <% if @question.errors.any? %>
          <div id="explain_error">
            <h2>
              Uh oh!
              <%= pluralize(@question.errors.count, "error") %>
              prohibited this post from being saved:
            </h2>
            <ul>
              <% @question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div>
          <%= f.label "Title:" %>
          <%= f.text_field :title %>
          <br>
          <%= f.label "Question:" %>
          <%= f.trix_editor :body %>
          <br>
          <%= f.label :tag_list %>
          <%= f.select :tag_list, options_from_collection_for_select(@question.tags + (Tag.all.order("name ASC") - @question.tags), 'name','name'), prompt: "Select Category" %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Post", class: 'btn btn-success'%>
          <%= button_to 'Delete post', question_path, class: 'btn btn-success', method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
