
  <%= form_with model: @question, local: true do |f|  %>
    <% if @question.errors.any? %>
      <div id="explain_error">
        <h2> Uh oh! <%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved: </h2>
        <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div>
    <%= f.label "Title:" %>
    <%= f.text_field :title %> <br>
    <%= f.label "Question:" %>
    <%= f.trix_editor :body %> <br>
    <%= f.label :tag_list %>
    <%= f.select :tag_list, options_from_collection_for_select(@question.tags + (Tag.all.order("name ASC") - @question.tags), 'name','name'), prompt: "Select Category" %>
  </div>


  <%= f.submit %>

  <% end %>
