<h1>Questions</h1>
<p>Here's a list of all the questions</p>

<%= link_to 'Ask a question', new_question_path, :class => "btn btn-primary" %>
<hr>

<% @questions.last(10).reverse_each do |question| %>
  <div class="question-box row">
        <div class="col-sm-1 thumb">
          <%= image_tag question.avatar.url(:thumb) %>
        </div>
        <div class="col">
          <a href="questions/<%= question.id %>">
            <h3><%= question.title %></h3>
            <p><%= question.body.html_safe %></p>
            <!-- TODO: Add limit of charactors here like excerpt. -->
          </a>
          <small>
            Posted on: <%= question.created_at.localtime.strftime("%B %d, %Y") %>
          </small>
          <br>
          <% if current_user.id == question.user_id %>
           <%= link_to "<i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\"></i> Edit Question".html_safe, edit_question_path(question) %>
          <% end %>
    </div>
   </div>
   <div class="answer-box">
       <strong>Top Answers:</strong><br>
         <%= 'No answer yet' if question.answers.empty? %>
         <ul class="ans_list">
         <% question.answers.last(3).reverse.each do |answer| %>
         <!-- TODO: Create top answer logic Add limit of charactors here like excerpt. -->
       <li><%=answer.content.html_safe %></li>
       <% end %>
       <ul>
   </div>
   <hr>
<% end %>
