<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>

<%= link_to 'Ask a question', new_question_path %>

<% @questions.last(10).reverse_each do |question| %>
  <div class="question-box">
        <%= image_tag @user.avatar.url(:thumb) %><br>
        <a href="questions/<%= question.id %>"> <%= question.title %></a>
      Posted on: <%= question.created_at.localtime.strftime("%B %d, %Y %I:%M:%S %p") %>
    <%= link_to question.tag1, tags_index_path %>
  <%= link_to "Edit Question", edit_question_path(question) %>
    <div class="comment-box">
        <strong>Answers</strong><br>
        <%= 'No answer yet' if question.answers.empty? %>

        <% question.answers.last(3).reverse.each do |answer| %>
        <li><%=answer.content %> </li>

        <% end %>

    </div>
 </div>


<% end %>



<%= form_for questions_path, method: 'get' do |f| %>
  <%= f.select :by_tag1, options_from_collection_for_select(Question.all, 'tag1','tag1'), prompt: "Select Category"%>
  <%= f.submit "Search", :name => nil %>
<% end %>
