<h1>Questions#show !!!!!!!</h1>

<%= image_tag @user.avatar.url(:thumb) %><br>
Title: <%= @question.title %><br>
Body: <%= @question.body %>
<hr>

<%= render 'answers/show' %>

<hr>
<%= render 'answers/new' %>

<%= link_to "Edit This Question", edit_question_path(@question) %>
