<h1>Questions#show !!!!!!!</h1>

<%= image_tag @question.avatar.url(:thumb) %><br>
Title: <%= @question.title %><br>
Body: <%= @question.body.html_safe %> <br>
Tags:
<% @question.tags.each do |tag|  %>
  <%= link_to tag.name, tag_path(tag) %>
<% end %>
<hr>

<%= render 'answers/show' %>

<hr>
<%= render 'answers/new' %>
<% if current_user.id == @question.user_id || current_user.admin? %>
<%= link_to "Edit this question", edit_question_path(@question) %><br>
<%= link_to "Delete this question", question_path, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
