<h1><%= @question.title %></h1>
<div class="question-box row">
      <div class="col-sm-2 thumb">
        <a href="/users/<%= @question.user_id %>"><%= image_tag @question.user.avatar.url(:thumb) %></a>
      </div>
      <div class="col">
          <h4><%= @question.body.html_safe %></h4>
        <small>
          Posted on: <%= @question.created_at.localtime.strftime("%B %d, %Y") %>
        </small>
        <br>
        <span class="tags">
          <% @question.tags.each do |tag|  %>
          <%= link_to tag.name, tag_path(tag) %>
          <% end %>
        </span>
        <% if current_user.id == @question.user_id %>
         <%= render 'edit' %>
        <% end %>
  </div>
 </div>
 <div class="answer-box">
     <strong>Answers:</strong><br>
       <%= 'No answer yet' if @question.answers.empty? %>
    <%= render 'answers/show' %>
     <hr>
     <%= render 'answers/new' %>
   <% if current_user.id == @question.user_id || current_user.admin? %>
<% end %>
 </div>
