<h1>Questions#show</h1>


Title: <%= @question.title %><br>
Body: <%= @question.body %>


<%= render 'answers/show' %>
<%= render 'answers/new' %>

  <%= link_to "Edit This Question", edit_question_path(@question) %>
