<h1>Edit Post</h1>

<%= form_with model: @blog, local: true  do |f| %>
  <%= f.label "Title:" %>
  <%= f.text_field :title %> <br>
  <%= f.label "Body:" %>
  <%= f.trix_editor :body, class: 'trix-content' %> <br>
  <%= f.label :tag_list %> <br>
  <%= f.select :tag_list, options_from_collection_for_select(@blog.tags + Tag.all.order("name ASC"), 'name','name'), prompt: "Select Category" %><br>
  <%= f.submit %>

<% end %>


<%= link_to 'Delete post', blog_path, method: :delete, data: {confirm: 'Are you sure?'} %>
