<%= search_form_for @q do |f| %>
<%= f.label :contains %>
<%= f.search_field :title_or_body_cont %>

<%= f.submit "search" %>
<% end %>
...


<table>
  <tr>
    <th> <%= sort_link @q, :title, "Title"%></th>
    <th> <%= sort_link @q, :body, "Body"%></th>
  </tr>
  <% @blogs.each do |b| %>
  <tr>
    <td><%= b.title %></td>
    <td><%= b.body %></td>
  </tr>
  <% end %>
</table>
