<h1>Blogs</h1>

<table>
  <tr>
    <th> User </th>
    <th> <%= sort_link @q, :title, "Title"%></th>
    <th> <%= sort_link @q, :body, "Body"%></th>
    <th> <%= sort_link @q, :tags_name, "Tags" %></th>
    <th> <%= sort_link @q, :created_at, "Date" %></th>
  </tr>
  <% @blogs.each do |b| %>
  <tr>
    <td><div class="col-sm-2 thumb">
    </div></td>
    <td><%= b.title %></td>
    <td><%= b.body %>
    </td>
    <td><%= b.tags.first.name %></td>
    <td><%= b.created_at %></td>
  </tr>
  <% end %>
</table>
