<h1>Blogs</h1>
<div class="container">
  <div class="row align-items-start">
      <div class="col-lg">
        <%= search_form_for @q, url: search_blogs_path, html: { method: :post } do |f| %>
        <%= f.search_field :title_or_body_or_tags_name_cont %>
        <%= f.submit "Search" %>
      <% end %>
      </div>
      <div class="col-sm"><%= render 'new' %></div>
  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th><%= sort_link @q, :user_id, "User" %></th>
        <th><%= sort_link @q, :title, "Title" %></th>
        <th><%= sort_link @q, :body, "Body"%></th>
        <th><%= sort_link @q, :tags, "Tags"%></th>
        <th><%= sort_link @q, :created_at, "Date" %></th>
      </tr>
    </thead>
    <tbody>
      <% @blogs.each do |b| %>
      <tr>
        <td><%= image_tag b.user.avatar.url(:thumb), class: "thumb-index" %><br></td>
        <td><%= link_to b.title, blog_path(b) %></td>
        <td><%= b.body.html_safe %></td>
        <td><%= b.tags.first %></td>
        <td><%= b.created_at.localtime.strftime("%B %d, %Y") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
