<h1>New Post</h1>

<%= form_with model: @blog, local: true  do |f| %>
<% if @blog.errors.any? %>
  <div id="explain_error">
    <h2> Uh oh! <%= pluralize(@blog.errors.count, "error") %> prohibited this post from being saved: </h2>
    <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <%= f.label "Title:" %>
  <%= f.text_field :title %> <br>
  <%= f.label "Body:" %>
  <%= f.trix_editor :body, class: 'trix-content' %> <br>
  <%= f.label :tag_list %> <br>
  <%= f.select :tag_list, options_from_collection_for_select(Tag.all.order("name ASC"), 'name','name'), prompt: "Select Category" %>
  <%= f.submit "Post" %>
<% end %>
