<h1><%= @blog.title %></h1><br>
<h2>Posted By:
  <a href="/users/<%= @blog.user_id %>"><%= @blog.user.username %></a></h2><br>
<h2><%= @blog.body.html_safe %></h2><br>

<div>Tags: <br>
   <% @blog.tags.each do |tag| %>
     <%= link_to tag.name, tag_path(tag) %>
   <% end %>
</div>
<% if @blog.user_id == current_user.id || current_user.admin? %>
  <%= link_to 'Edit Blog', edit_blog_path(@blog) %><br>
  <%= link_to 'Delete Blog', blog_path, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>

<h2>Comments:</h2>
<%= render @blog.comments %>

<h2>Add a Comment:</h2>
<%= render 'comments/form' %>

<br><br>


<%= link_to 'Back', blogs_path %> <br>
<br>
