<h1>Edit Your Information</h1>

  <%= form_with model: @user, local: true do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio  %>
  </div>
  <div class="field">
    <%= f.label :github_url %>
    <%= f.text_area :github_url  %>
  </div>
  <div class="field">
    <%= f.label :previous_industry %>
    <%= f.text_field :previous_industry %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <% if current_user.admin? %>
  <div>
    <%= f.label :is_admin %>
    <%= f.text_field :admin %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>

  <div>
    <%= link_to "Edit Registration Info", edit_user_registration_path(current_user) %><br>
    <%= link_to 'Delete user', user_path, method: :delete, data: {confirm: 'Are you sure?'} %><br>
  </div>
<% end %>
</div>
