<h1><%= @user.username %>'s Profile</h1>

<%= image_tag @user.avatar.url(:middle) %><br>
Location: <%= @user.location %><br>
Bio: <%= @user.bio %><br>
Website: <a href="http://<%= @user.github_url %> "><%= @user.github_url %></a><br>
Previous job: <%= @user.previous_industry %><br>
<br>
<%= @user.username %>'s blog posts<br>
<%  @user.blogs.reverse_each do |blog| %>
<a href="/blogs/<%= blog.id %>"><%= blog.title %><br></a>
<% end %>
<br>




<% if current_user.id == @user.id || current_user.admin? %>
<%= link_to "Edit User Info", edit_user_path(@user) %><br>
<% end %>

<%= link_to "Blog Posts", blogs_path %><br>

<hr>
