<div class="row content">
  <div class="col-2-md">
    <div class="profile">
      <%= image_tag @user.avatar.url(:middle) %>
    </div>
    <div class="user_info text-center">
      <% if current_user.id == @user.id || current_user.admin? %>
      <%= link_to "Edit User Info", edit_user_path(@user), class: "btn btn-primary" %>
      <%= @user.location %><br>
      <em><%= @user.bio %></em><br>
      <a href="<%= @user.github_url %>"><%= @user.github_url %></a><br>
      <%= @user.previous_industry %><br>
      <% end %>
    </div>
  </div>
  <div class="col">
    <h3>About <%= @user.username.capitalize %></h3>
    <h4><%= @user.username.capitalize %>'s Questions</h4>
    <%  @user.questions.reverse_each do |q| %>
    <a class="user_qb" href="/questions/<%= q.id %>"><%= q.title %></a>
    <hr>
    <% end %>
    <h4><%= @user.username.capitalize %>'s Blog Posts</h4>
    <%  @user.blogs.reverse_each do |blog| %>
    <a class="user_qb" href="/blogs/<%= blog.id %>"><%= blog.title %></a>
    <hr>
    <% end %>
  </div>
</div>
