<div class="dash">
  <div class="row">
    <div class="col-2">
      <a href="/users/<%= current_user.id %>"><%= image_tag current_user.avatar.url(:middle) %></a>
    </div>
    <div class="col">
    <h2>Hey There, <%= current_user.username %></h2>
    <p>Welcome back to your dashboard. Here are a few things to get you started:</p>
    <%= link_to 'Ask a question', new_question_path, :class => "btn btn-primary" %>
    <%= link_to "Write a blog", new_blog_path(current_user), :class => "btn btn-primary" %>
    <%= link_to "Edit Your Profile", edit_user_path(current_user), :class => "btn btn-primary" %>
      </div>
  </div>
</div>

    <div class="row">
      <div class="col-8">

        <% if current_user.admin == true %>
          <div class="admin_block">
            <h3>Admin view</h3>
            <% User.all.each do |user| %>
            <%= link_to user.email, user_path(user) %><br>
            <% end %> <br><br>
            <%= render 'tags/new' %>
          </div>
        <% end %>

        <h3>What are people asking?</h3>
        <ul class="nav nav-tabs" id="tabSort" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="questionsTab" data-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="true">My Questions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="popularTab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="false">Popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="recentTab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">Recent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <div class="tab-content" id="tabSortContent">
          <div class="tab-pane fade show active" id="questions" role="tabpanel" aria-labelledby="questionsTab">
            <div class="question-box row">
              <div class="col">
                <% @questions.last(10).reverse_each do |question| %>
                  <div class="row">
                    <div class="col-1 text-center">
                      <span class="ans_num"><%= question.answers.size %></span>
                      <br><small>Answers</small></div>
                    <div class="col">
                      <a href="questions/<%= question.id %>">
                  <strong><%= question.title %></strong> </a>
                  <p><%= question.body.html_safe %></p>
                    </div>
                  </div>

                  <hr>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="popularTab">Popular questions list here</div>
          <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recentTab">Recent questions list here</div>
         </div>
        </div>

  <div class="col-md recent_blogs">
  <h3>The latest blog posts</h3>
  <% Blog.last(3).reverse_each do |blog| %>
    <div class="row blog_post">
      <div class="col-4 text-center">
        Posted By:
        <%= image_tag blog.user.avatar.url(:thumb) %>
        <%= blog.user.username %>
      </div>
      <div class="col">
        <strong><%= blog.title %></strong>
        <p><%= blog.body.first(100).html_safe %>...
          <%= link_to "Read More", "#", class: "read_more" %></p>
      </div>
    </div>
  <% end %>

  </div>


</div><!-- end row -->
