<h1>Answers</h1>
<% @question.answers.each do |answer| %>
  <li><%=answer.content %></li>
  <li>Posted by: <%= answer.user.email %></li>

  <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/like" data-method="PUT">Upvote</a>
  <%= answer.get_upvotes.size %>

  <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/dislike" data-method="PUT">Downvote</a>
  <%= answer.get_downvotes.size %>

  <br><br>
<% end %>
