 <%= 'No answer yet' if @question.answers.empty? %>
  <% @question.answers.each do |answer| %>
  <div class="row">
    <div class="col-sm-2 thumb text-center">
      <span>Answer by:</span>
      <!-- TODO: Add in link to user's profile -->
      <a href="/users/<%= answer.user_id %>"><%= image_tag answer.user.avatar.url(:thumb) %></a>
      <div class="username">
        <a href="/users/<%= answer.user_id %>"><%= answer.user.username %></a>
      </div>
      <div class="votes">
        <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/like" data-method="PUT"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
        <span class="up"><%= answer.get_upvotes.size %></span>

        <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/dislike" data-method="PUT"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
        <span class="dwn"><%= answer.get_downvotes.size %></span>
      </div>

      <% if current_user.id == answer.user_id || current_user.admin? %>
        <a href='/questions/<%= @question.id %>/answers/<%= answer.id %>/edit'><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Answer</a><br>
        <a href='/questions/<%= @question.id %>/answers/<%= answer.id %>' data-method="DELETE"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Answer</a>
        <%#= link_to "Delete this answer", question_answer_path, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>
    <div class="col"><%= answer.content.html_safe %></div>
  </div>
<% end %>
