<div class="content">
  <h3>Explore Question and Blog Topics...</h3>


<% @tags.each_with_index do |t, index| %>
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card-header" role="tab" id="headingOne">
    <h5 class="mb-0">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index.to_s%>" aria-expanded="true" aria-controls="collapseOne">
       <%= t.name%>
      </a>
    </h5>
  </div>

  <div id="collapse<%= index.to_s %>" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="card-block">
      <ul class="list-group">
        <li class="list-group-item"><strong>Blogs:</strong></li>
        <% if t.blogs.empty? %>
          <li class="list-group-item"><%= 'No blogs yet.' %></li>
        <% end %>
        <% t.blogs.each do |q| %>
        <li class="list-group-item"><%= link_to q.title, blog_path(q) %></li>
        <% end %>
        <li class="list-group-item"><strong>Questions:</strong></li>
        <% if t.questions.empty? %>
          <li class="list-group-item"><%= 'No questions yet.' %></li>
        <% end %>
        <% t.questions.each do |q| %>
        <li class="list-group-item"><%= link_to q.title, question_path(q) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

</div>
