<!-- Start video hero -->
<div class="video-hero">
	<div class="video-bg demo-video">
		<%= video_tag(["coding.mp4","coding.webm"],  preload: "preload", loop: "loop", autoplay: "autoplay", id: "video") %>
	</div>
	<div class="video-overlay"></div>
	<div class="page-width">
		<div class="video-hero--content">

        <div class="login col-md-8">

					<div class="row">
						<div class="col-6 homie">
							<h3>Developer Bootcamp<br>got you stuck?</h3>
							<span>We got you, homie.</span>
							<%= image_tag("./images/langs.png") %>
						</div>
						<div class="col-6">
							<h2 class="text-center">Log in</h2>

		        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		          <div class="field">
		            <%= f.label :email %><br />
		            <%= f.email_field :email, autofocus: true %>
		          </div>

							 <div class="field">
		            <%= f.label :password %><br />
		            <%= f.password_field :password, autocomplete: "off" %>
		          </div>

		          <% if devise_mapping.rememberable? -%>
		            <div class="field">
		              <%= f.check_box :remember_me %>
		              <%= f.label :remember_me %>
		            </div>
		          <% end -%>

		          <div class="actions">
		            <%= f.submit "Log in" %>
		          </div>
		        <% end %>

		        <br>

		        <%= render "devise/shared/links" %>
						</div>
					</div>





        </div>




		</div>
	</div>
</div>
<!-- End video hero -->
