<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootcamp Overflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="container-fluid">
    <nav class="row">
        <div class="logo col-sm-2 text-center">
          <%= link_to image_tag("Logo.png"), root_path %>
        </div>
        <div class="col-md">
          <% if current_page?(controller: '/blogs', action: 'index') || current_page?(controller: '/blogs', action: :search) %>
            <%= search_form_for @q, url: search_blogs_path, html: { method: :post } do |f| %>
              <%= f.search_field :title_or_body_or_tags_name_cont, placeholder: "Search Blogs" %>
              <%#= f.submit "Search Blogs" %>
            <% end %>
          <% elsif current_page?(controller: '/questions', action: "index") || current_page?(controller: '/questions', action: :search) %>
            <%= search_form_for @q, url: search_questions_path, html: { method: :post } do |f| %>
              <%= f.search_field :title_or_body_or_tags_name_cont, placeholder: "Search Questions" %>
              <%#= f.submit "Search Questions" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-md text-right">
          <% if signed_in? %>
              <button type="button" class="btn btn-secondary float-right"><%= link_to "Log Out", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to log out?"} %></button>
              <%= link_to "<i class='fa fa-tachometer' aria-hidden='true'></i>".html_safe, root_path %>
              <%= link_to "<i class='fa fa-user' aria-hidden='true'></i>".html_safe, user_path(current_user) %>
              <%= link_to "<i class='fa fa-question-circle' aria-hidden='true'></i>".html_safe, questions_path %>
              <%= link_to "<i class='fa fa-th-list' aria-hidden='true'></i>".html_safe, blogs_path %>
            <% else %>
              <%= link_to "Log In", new_user_session_path %>
              <button type="button" class="btn btn-secondary float-right"><%= link_to "Sign Up", new_user_registration_path %></button>
            <% end %>
      </div>
    </nav>
    <!-- <div class="msgs">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div> -->

    <%= yield %>
</div>
<script src="https://use.fontawesome.com/6b7272baf0.js"></script>
  </body>
</html>
