<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FinalGroupProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="container">
    <nav>
      <% if signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to log out?"} %>
        <%= link_to "Dashboard", root_path %>
        <%= link_to "User Profile", user_path(current_user) %>
        <%= link_to "Questions", questions_path %>
        <% else %>
        <%= link_to "Log In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <%= yield %>
</div>
  </body>
</html>
